{% extends "base.html" %}

{% block content %}
    <div class="modal__background">
    <form method="post" action="/">
<!--        <a class="modal__button"href="https://t.me/TEB_Team_test_bot">REGISTRY</a>-->
         {% if auth %}

            {% if user %}
                <div class="container">
                <b>
                    <h3 class="name">{{ user.username }}</h3>
                    <p class="name">{{ user.email }}</p>
                </b>
                </div>
              {% else %}
                <input class="modal__button" type="submit" value="SIGN IN" name="signin_input"/>
                <input class="modal__button" type="submit" value="LOG IN" name="login_input" />
              {% endif %}
            {% endif %}
    </form>
    </div>

{% endblock %}